.eertree-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    border: 1px solid #1b5233;
    border-radius: 4px;
    margin-bottom: 20px;
}

input.string-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #1b5233;
    background-color: white;
    padding: 4px 8px;
}

#palindrome-example{
    text-align: center;
    font-size: 1.2em;
}